# Dependencias
node_modules/
dist/
.astro/

# Variables de entorno
.env
.env.*
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug_error.log

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
build/
.output/
.vercel/
.netlify/

# TypeScript
*.tsbuildinfo
